<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GH_IO" publicKeyToken="6a29997d2e6b4f97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.28.23058.3001" newVersion="7.28.23058.3001" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.UI" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.28.23058.3001" newVersion="7.28.23058.3001" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.19266.14201" newVersion="6.18.19266.14201" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Eto" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
